# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*__pycache__*
# C extensions
*.so
*npy*

# specific directory
freezed_models/
save_model_ssda/
record/
data/multi/
data/office_home/
entropy_weight_files/
attributes/
expts/
word_embedding_models/
record/
previous_models/ 
target_rw_expts/
tsne/ckpts/
banks/
misc_scipts/saved_matrices/
paper-logs/
misc_scripts/
old-files/
# Some specific patterns
*word2vec*
.DS_Store
.vscode
*.py.*
*.npy
*pkl
*pickle
tsne/*pickle
*pth
*pth*
data/
paper-logs/
tsne/models/
