# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*__pycache__*
# C extensions
*.so
*npy*

# specific directory
freezed_models/
save_model_ssda/
record/
data/multi/
entropy_weight_files/
attributes/
expts/
word_embedding_models/
record/
previous_models/ 
target_rw_expts/
tsne/ckpts/
# Some specific patterns
*word2vec*
.DS_Store
.vscode
*.py.*
